{% extends "course/partials/main.twig" %}

{# {% set show_steps = true %} #}

{# {% block nav_extends %} #}
{#    {% include 'course/partials/steps.twig' %} #}
{# {% endblock %} #}

{% block sidebar %}{% endblock %}

{% block main_content %}
    <div class="d-flex flex-column gap-3">
        <h1 class="course--heading">
            Registreren
        </h1>
    </div>
{% endblock %}

