<div class="container mb-5">
    <div class="row">
        <div class="col-lg-6 col-12 px-5 px-lg-0">
            <h1>
                {{ heading }}
            </h1>
            <div>
                {{ description|raw }}
            </div>
        </div>
    </div>
</div>
