<style>
    .column-section-name {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
    }

    .sortable-lesson {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .ui-sortable-handle {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="wrap">
    <div id="poststuff">
        <div id="post-body" class="metabox-holder columns-2">
            <div id="post-body-content" style="position: relative;">
                <div id="titlediv">
                    <div id="titlewrap">
                        <label class="screen-reader-text" id="title-prompt-text" for="title">Add title</label>
                        <input type="text" name="post_title" size="30" value="Hoi" id="title" spellcheck="true"
                               autocomplete="off">
                    </div>
                </div>
                <div id="postdivrich" class="postarea wp-editor-expand" style="margin-top: 20px">
                    {{ render_wp_editor('hoi', 'custom_editor', {'textarea_rows': 15, 'media_buttons': true }) }}
                </div>
            </div>

            <div id="postbox-container-1" class="postbox-container">
                <div id="side-sortables" class="meta-box-sortables ui-sortable" style="">
                    <div id="submitdiv" class="postbox ">
                        <div class="postbox-header"><h2 class="hndle ui-sortable-handle">Publish</h2>
                            <div class="handle-actions hide-if-no-js">
                                <button type="button" class="handle-order-higher" aria-disabled="false"
                                        aria-describedby="submitdiv-handle-order-higher-description"><span
                                            class="screen-reader-text">Move up</span><span
                                            class="order-higher-indicator" aria-hidden="true"></span></button>
                                <span class="hidden"
                                      id="submitdiv-handle-order-higher-description">Move Publish box up</span>
                                <button type="button" class="handle-order-lower" aria-disabled="false"
                                        aria-describedby="submitdiv-handle-order-lower-description"><span
                                            class="screen-reader-text">Move down</span><span
                                            class="order-lower-indicator" aria-hidden="true"></span></button>
                                <span class="hidden"
                                      id="submitdiv-handle-order-lower-description">Move Publish box down</span>
                                <button type="button" class="handlediv" aria-expanded="true">
                                    <span class="screen-reader-text">Toggle panel: Publish</span>
                                    <span class="toggle-indicator" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="inside">
                            <div class="submitbox" id="submitpost">
                                <div id="minor-publishing">
                                    <div style="display:none;">
                                        <p class="submit">
                                            <input type="submit" name="save" id="save" class="button" value="Save">
                                        </p>
                                    </div>
                                    <div id="minor-publishing-actions">
                                        <div id="save-action">
                                            <input type="submit" name="save" id="save-post" value="Save Draft"
                                                   class="button">
                                            <span class="spinner"></span>
                                        </div>

                                        <div id="preview-action">
                                            <a class="preview button"
                                               href="http://localhost/dawahnl/?post_type=course_lesson&amp;p=93&amp;preview=true"
                                               target="wp-preview-93" id="post-preview">
                                                Preview
                                                <span class="screen-reader-text"> (opens in a new tab)</span>
                                            </a>
                                            <input type="hidden" name="wp-preview" id="wp-preview" value="">
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div id="misc-publishing-actions">
                                        <div class="misc-pub-section misc-pub-post-status">
                                            <a href="#post_status" class="edit-post-status hide-if-no-js" role="button">
                                                <span aria-hidden="true">Edit</span> <span class="screen-reader-text">
                                                    Edit status				
                                                </span>
                                            </a>

                                            <div id="post-status-select" class="hide-if-js">
                                                <input type="hidden" name="hidden_post_status" id="hidden_post_status"
                                                       value="draft">
                                                <label for="post_status" class="screen-reader-text">
                                                    Set status </label>
                                                <select name="post_status" id="post_status">
                                                    <option value="pending">Pending Review</option>
                                                    <option selected="selected" value="draft">Draft</option>
                                                </select>
                                                <a href="#post_status"
                                                   class="save-post-status hide-if-no-js button">OK</a>
                                                <a href="#post_status"
                                                   class="cancel-post-status hide-if-no-js button-cancel">Cancel</a>
                                            </div>
                                        </div>

                                        <div class="misc-pub-section misc-pub-visibility" id="visibility">
                                            Visibility: <span id="post-visibility-display">
				Public			</span>

                                            <a href="#visibility" class="edit-visibility hide-if-no-js"
                                               role="button"><span aria-hidden="true">Edit</span> <span
                                                        class="screen-reader-text">
					Edit visibility				</span></a>

                                            <div id="post-visibility-select" class="hide-if-js">
                                                <input type="hidden" name="hidden_post_password"
                                                       id="hidden-post-password" value="">

                                                <input type="hidden" name="hidden_post_visibility"
                                                       id="hidden-post-visibility" value="public">
                                                <input type="radio" name="visibility" id="visibility-radio-public"
                                                       value="public" checked="checked"> <label
                                                        for="visibility-radio-public"
                                                        class="selectit">Public</label><br>


                                                <input type="radio" name="visibility" id="visibility-radio-password"
                                                       value="password"> <label for="visibility-radio-password"
                                                                                class="selectit">Password
                                                    protected</label><br>
                                                <span id="password-span"><label
                                                            for="post_password">Password:</label> <input type="text"
                                                                                                         name="post_password"
                                                                                                         id="post_password"
                                                                                                         value=""
                                                                                                         maxlength="255"><br></span>

                                                <input type="radio" name="visibility" id="visibility-radio-private"
                                                       value="private"> <label for="visibility-radio-private"
                                                                               class="selectit">Private</label><br>

                                                <p>
                                                    <a href="#visibility"
                                                       class="save-post-visibility hide-if-no-js button">OK</a>
                                                    <a href="#visibility"
                                                       class="cancel-post-visibility hide-if-no-js button-cancel">Cancel</a>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="misc-pub-section curtime misc-pub-curtime">
				<span id="timestamp">
					Publish <b>immediately</b>				</span>
                                            <a href="#edit_timestamp" class="edit-timestamp hide-if-no-js"
                                               role="button">
                                                <span aria-hidden="true">Edit</span>
                                                <span class="screen-reader-text">
						Edit date and time					</span>
                                            </a>
                                            <fieldset id="timestampdiv" class="hide-if-js">
                                                <legend class="screen-reader-text">
                                                    Date and time
                                                </legend>
                                                <div class="timestamp-wrap"><label><span class="screen-reader-text">Month</span><select
                                                                class="form-required" id="mm" name="mm">
                                                            <option value="01" data-text="Jan">01-Jan</option>
                                                            <option value="02" data-text="Feb">02-Feb</option>
                                                            <option value="03" data-text="Mar">03-Mar</option>
                                                            <option value="04" data-text="Apr">04-Apr</option>
                                                            <option value="05" data-text="May">05-May</option>
                                                            <option value="06" data-text="Jun">06-Jun</option>
                                                            <option value="07" data-text="Jul">07-Jul</option>
                                                            <option value="08" data-text="Aug">08-Aug</option>
                                                            <option value="09" data-text="Sep">09-Sep</option>
                                                            <option value="10" data-text="Oct">10-Oct</option>
                                                            <option value="11" data-text="Nov">11-Nov</option>
                                                            <option value="12" data-text="Dec" selected="selected">
                                                                12-Dec
                                                            </option>
                                                        </select></label> <label><span
                                                                class="screen-reader-text">Day</span><input type="text"
                                                                                                            id="jj"
                                                                                                            name="jj"
                                                                                                            value="29"
                                                                                                            size="2"
                                                                                                            maxlength="2"
                                                                                                            autocomplete="off"
                                                                                                            class="form-required"></label>,
                                                    <label><span class="screen-reader-text">Year</span><input
                                                                type="text" id="aa" name="aa" value="2024" size="4"
                                                                maxlength="4" autocomplete="off" class="form-required"></label>
                                                    at <label><span class="screen-reader-text">Hour</span><input
                                                                type="text" id="hh" name="hh" value="15" size="2"
                                                                maxlength="2" autocomplete="off" class="form-required"></label>:<label><span
                                                                class="screen-reader-text">Minute</span><input
                                                                type="text" id="mn" name="mn" value="54" size="2"
                                                                maxlength="2" autocomplete="off" class="form-required"></label>
                                                </div>
                                                <input type="hidden" id="ss" name="ss" value="45">

                                                <input type="hidden" id="hidden_mm" name="hidden_mm" value="12">
                                                <input type="hidden" id="cur_mm" name="cur_mm" value="12">
                                                <input type="hidden" id="hidden_jj" name="hidden_jj" value="29">
                                                <input type="hidden" id="cur_jj" name="cur_jj" value="29">
                                                <input type="hidden" id="hidden_aa" name="hidden_aa" value="2024">
                                                <input type="hidden" id="cur_aa" name="cur_aa" value="2024">
                                                <input type="hidden" id="hidden_hh" name="hidden_hh" value="15">
                                                <input type="hidden" id="cur_hh" name="cur_hh" value="15">
                                                <input type="hidden" id="hidden_mn" name="hidden_mn" value="54">
                                                <input type="hidden" id="cur_mn" name="cur_mn" value="54">

                                                <p>
                                                    <a href="#edit_timestamp"
                                                       class="save-timestamp hide-if-no-js button">OK</a>
                                                    <a href="#edit_timestamp"
                                                       class="cancel-timestamp hide-if-no-js button-cancel">Cancel</a>
                                                </p>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div id="major-publishing-actions">
                                    <div id="delete-action">
                                        <a class="submitdelete deletion"
                                           href="http://localhost/dawahnl/wp-admin/post.php?post=93&amp;action=trash&amp;_wpnonce=f8f653b543">Move
                                            to Trash</a>
                                    </div>

                                    <div id="publishing-action">
                                        <span class="spinner"></span>
                                        <input name="original_publish" type="hidden" id="original_publish"
                                               value="Publish">
                                        <input type="submit" name="publish" id="publish"
                                               class="button button-primary button-large" value="Publish"></div>
                                    <div class="clear"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="postbox-container-2" class="postbox-container">
                <div id="normal-sortables" class="meta-box-sortables ui-sortable">
                    <div id="slugdiv" class="postbox  hide-if-js" style="">
                        <div class="postbox-header"><h2 class="hndle ui-sortable-handle">Slug</h2>
                            <div class="handle-actions hide-if-no-js">
                                <button type="button" class="handle-order-higher" aria-disabled="false"
                                        aria-describedby="slugdiv-handle-order-higher-description"><span
                                            class="screen-reader-text">Move up</span><span
                                            class="order-higher-indicator" aria-hidden="true"></span></button>
                                <span class="hidden"
                                      id="slugdiv-handle-order-higher-description">Move Slug box up</span>
                                <button type="button" class="handle-order-lower" aria-disabled="false"
                                        aria-describedby="slugdiv-handle-order-lower-description"><span
                                            class="screen-reader-text">Move down</span><span
                                            class="order-lower-indicator" aria-hidden="true"></span></button>
                                <span class="hidden"
                                      id="slugdiv-handle-order-lower-description">Move Slug box down</span>
                                <button type="button" class="handlediv" aria-expanded="true"><span
                                            class="screen-reader-text">Toggle panel: Slug</span><span
                                            class="toggle-indicator" aria-hidden="true"></span></button>
                            </div>
                        </div>
                        <div class="inside">
                            <label class="screen-reader-text" for="post_name">
                                Slug</label><input name="post_name" type="text" class="large-text" id="post_name"
                                                   value="">
                        </div>
                    </div>
                </div>
                <div id="advanced-sortables" class="meta-box-sortables ui-sortable"></div>
            </div>
        </div><!-- /post-body -->
        <br class="clear">
        <div><input type="hidden" name="carbon_fields_changed" disabled="" value="1"></div>
    </div>
</div>
