<div class="col col-xxl-4 ps-5 border-start pe-5 d-flex flex-column justify-content-center nwire-dev-learn-management-system--course-component-steps">
    <div class="d-flex flex-column gap-1">
        <div class="d-flex flex-row gap-1">
            <span class="nwire-dev-learn-management-system--course-component-steps-percentage">
                {{ course.course_steps.percentage }}% compleet
            </span>
            <span class="d-none d-xl-block nwire-dev-learn-management-system--course-component-steps-count">
                {{ course.course_steps.finished }}/{{ course.course_steps.total }} stappen
            </span>
        </div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75"
             aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar nwire-dev-learn-management-system--course-component-steps-progress-bar"
                 style="width: {{ course.course_steps.percentage }}%;">
            </div>
        </div>
    </div>
</div>
