<!DOCTYPE html>
<html {{ site.language_attributes }}>

{% include 'html-header.twig' %}

<body class="{{ body_class }}">
{% include 'partials/navigation.twig' %}

{% block main %}
    <main class="mt-lg-5 mb-lg-5 my-3" id="--nwire-dev--main">
        {% block content %}
            <p>Sorry, no content</p>
        {% endblock %}
    </main>
{% endblock %}

{% include 'html-footer.twig' %}
</body>
</html>
