.nwire-dev-learn-management-system--course-slider {
    border: 1px transparent;
    height: 350px;
    background-color: black;
    background-size: cover;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.nwire-dev-learn-management-system--course-slider-title {
    color: white;
    text-decoration: none;
    text-underline: none;
    margin-bottom: 4px;
    font-family: KanitMedium, serif;
}

.nwire-dev-learn-management-system--course-slider-progress {
    font-size: 12px;
    color: white;
    background: black;
    padding: 2px 8px;
    border-radius: 4px
}

.nwire-dev-learn-management-system--course-slider-categories span {
    font-size: 12px;
    color: black;
    background: white;
    padding: 2px 8px;
    border-radius: 4px;
}

.nwire-dev-learn-management-system--course-slider-teachers p {
    color: darkgrey;
}