{% extends template('NWIRE_DEV_LEARN_MANAGEMENT_SYSTEM', 'layout/base.twig', true) %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column gap-2 sidebar-mobile-hide h-100">
                    <div class="d-flex flex-column">
                        <h1 class="course--heading">{{ course.current.title }}</h1>
                    </div>
                    <p>
                        Er is momenteel (nog) geen content. Kijk later terug.
                    </p>
                    <a href="{{ fn('get_site_url') ~ '/' ~ fn('apply_filters', 'nwire_dev_learn_management_system_route_courses', 'courses')}}"
                       class="pe-3 py-2 text-decoration-underline d-none d-xl-block">
                        Terug naar cursus overzicht
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
