{% extends template('NWIRE_DEV_LEARN_MANAGEMENT_SYSTEM', 'layout/base.twig') %}

{% block content %}
    {% include template('NWIRE_DEV_LEARN_MANAGEMENT_SYSTEM', 'partials/components/page/breadcrumbs.twig') with {
        links : [
            { 'url': fn('get_site_url'), 'label': 'Home' },
            { 'url': fn('get_site_url') ~ '/' ~ fn('apply_filters', 'nwire_dev_learn_management_system_route_courses', 'courses'), 'label': 'Cursus Overzicht' }
        ]} %}

    {% if fn('is_user_logged_in') and enrolled_courses|length > 0 %}
        {% include template('NWIRE_DEV_LEARN_MANAGEMENT_SYSTEM', 'partials/components/page/heading.twig') with {
            heading: "Mijn huidige lessenreeks(en)",
            description: "Dit is een lijst van al jouw huidige lessenreeksen"
        } %}

        <div class="container-fluid mb-5">
            <div class="row">
                <div class="col-12 pe-0">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper mx-2">
                            {% for course in enrolled_courses %}
                                <div class="swiper-slide">
                                    {% include template('NWIRE_DEV_LEARN_MANAGEMENT_SYSTEM', 'partials/course/slider.twig') with { course: course } %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if categories|length == 0 and courses|length > 0 %}
        {% include template('NWIRE_DEV_LEARN_MANAGEMENT_SYSTEM', 'partials/components/page/heading.twig') with {
            heading: "Onze huidige beschikbare lessenreeks(en)",
            description: "Dit zijn de huidige lessenreeksen die momenteel beschikbaar zijn"
        } %}

        <div class="container-fluid mb-5">
            <div class="row">
                <div class="col-12 pe-0">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper mx-2">
                            {% for course in courses %}
                                <div class="swiper-slide">
                                    {% include template('NWIRE_DEV_LEARN_MANAGEMENT_SYSTEM', 'partials/course/slider.twig') with { course: course } %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    {% elseif categories|length == 0 and courses|length == 0 %}
        {% include template('NWIRE_DEV_LEARN_MANAGEMENT_SYSTEM', 'partials/components/page/heading.twig') with {
            heading: "Cursus overzicht",
            description: "Er zijn nu momenteel nog geen lessenreeksen die beschikbaar zijn. Kom later terug in shaa Allaah!"
        } %}
    {% endif %}

    {% if categories|length > 0 %}
        {% include template('NWIRE_DEV_LEARN_MANAGEMENT_SYSTEM', 'partials/components/page/heading.twig') with {
            heading: "Aanbevolen lessenreeksen",
            description: "Dit is een lijst van alle categorieën van alle lessenreeksen."
        } %}

        <div class="container-fluid mb-5">
            <div class="row">
                <div class="col-12 pe-0">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper mx-2">
                            {% for category in categories %}
                                <div class="swiper-slide">
                                    {% include template('NWIRE_DEV_LEARN_MANAGEMENT_SYSTEM', 'partials/course-category/slider.twig') with { category: category } %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-3">

        </div>
    {% endif %}
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 8,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            // slidesOffsetBefore: "1.25rem",
            breakpoints: {
                100: {
                    slidesPerView: 1.5,
                    spaceBetween: 16,
                },
                360: {
                    slidesPerView: 1.3,
                    spaceBetween: 16,
                },
                576: {
                    slidesPerView: 1.3,
                    spaceBetween: 16,
                },
                768: {
                    slidesPerView: 2.5,
                    spaceBetween: 16,
                },
                992: {
                    slidesPerView: 2.9,
                    spaceBetween: 16,
                },
                1200: {
                    slidesPerView: 3,
                    spaceBetween: 16,
                },
                1400: {
                    slidesPerView: 4.2,
                    spaceBetween: 16,
                },
            }
        });
    </script>

{% endblock %}
